/* dashbord section  */

body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

.dashboard {
    padding: 20px;
    background: #1e293b;
    color: white;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #334155;
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
}